# Jeopardy Hacking

Here we will practice chi square computations using a data set of jeopardy questions. We want to see if any questions or terms are more likely to reoccur in a new question so we can be sure to gain information on the matter.

In [1]:
import pandas as pd

jeopardy = pd.read_csv('jeopardy.csv')

jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka)
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service beg...",the UV index
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1...",Bulova
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward wh...",Jesse James
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who mig...",imp
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizati...,the International
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig
20,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,Africa's lowest temperature was 11 degrees bel...,Morocco
21,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to ...,(Paul) Bonwit
22,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to you...",Hattie McDaniel (for her role in Gone with the...
23,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an...",era
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,This Asian political party was founded in 1885...,the Congress Party
25,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$1000,No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain
26,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$1000,"The Kirschner brothers, Don & Bill, named this...",K2
27,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$1000,"Revolutionary War hero: ""His spirit is in Verm...",Ethan Allen
28,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$1000,"A single layer of paper, or to perform one's c...",ply
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-1...",Horton
...,...,...,...,...,...,...,...
19969,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,$1200,In 1960 the last of these locomotives was reti...,steam engines
19970,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$1200,"Kate: ""if I be waspish, best beware my sting"";...",Petruchio
19971,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,"$1,500",This private college in Northern California bo...,Stanford University
19972,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$1200,"She voiced Princess Pea in ""The Tale of Desper...",Emma Watson
19973,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$1200,It's the name of the long-awaited new White Ho...,Bo
19974,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$1200,"Langdon in ""Angels & Demons"" is looking for <a...",an antimatter bomb
19975,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,$1600,In the 1600s most of New York State was occupi...,the Iroquois
19976,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$1600,Marina's dad (need a hint? he rules Tyre),Pericles
19977,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,$1600,Presidential kids are welcome at this New Orle...,Tulane
19978,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$1600,She didn't vamp it up & did a bella job as Em ...,Kristen Stewart
19979,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$1600,Third syllable intoned by the giant who smells...,fo
19980,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$1600,"Much of ""Angels & Demons"" takes place at one o...",a conclave
19981,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,"$1,200",In 1899 Secretary of State John Hay proclaimed...,open-door policy
19982,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$2000,"Fruity surname of Peter in ""A Midsummer Night'...",Quince
19983,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,$2000,"Quincy Jones, Kevin Eubanks & Branford Marsali...",Berklee
19984,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$2000,"In 2009 she returned to being ""Fast & Furious""...",Michelle Rodriguez
19985,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$2000,"The book of Genesis says this ancient city ""of...",Ur
19986,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$2000,"""Habakkuk and the Angel"" is one of a series of...",Bernini
19987,5694,2009-05-14,Final Jeopardy!,SCIENCE TERMS,None,"In medieval England, it meant the smallest uni...",atom
19988,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,$100,This Texas city is the largest in the U.S. to ...,Houston (Lee Brown)
19989,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,$100,...& the Crickets,Buddy Holly
19990,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,$100,In the 990s this son of Erik the Red brought C...,Leif Ericson
19991,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,$100,"Concerning a failed Windows 98 demonstration, ...",Bill Gates
19992,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,$100,"This llama product is used to make hats, blank...",Wool
19993,3582,2000-03-14,Jeopardy!,DING DONG,$100,In 1967 this company introduced its chocolate-...,Hostess
19994,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,$200,"Of 8, 12 or 18, the number of U.S. states that...",18
19995,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,$200,...& the New Power Generation,Prince
19996,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,$200,In 1589 he was appointed professor of mathemat...,Galileo
19997,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,$200,"Before the grand jury she said, ""I'm really so...",Monica Lewinsky
19998,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,$200,Llamas are the heftiest South American members...,Camels

In [2]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [8]:
import re

def normalize_text(string):
    string = string.lower()
    string = re.sub("[^A-Za-z0-9\s]", "", string)
    string = re.sub("\s+", " ", string)
    return string

def normalize_values(string):
    string = re.sub("[^A-Za-z0-9\s]", "", string)
    try:
        string = int(string)
    except Exception:
        string = 0
    return string

In [9]:
jeopardy["clean_question"] = jeopardy["Question"].apply(normalize_text)
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalize_text)
jeopardy["clean_value"] = jeopardy["Value"].apply(normalize_values)

In [10]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200

In [12]:
# remove dollar sign and make value column an integer
def normalize_dollar(s):
    s = s.replace('$','').replace(',','')
    if s=='None':
        s=0.0
    else:
        s=int(s)
    return s

jeopardy['clean_value'] = jeopardy['Value'].apply(lambda x:normalize_dollar(x))

In [13]:
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

In [17]:
def count_matches(row):
    split_answer = row['clean_answer'].split()
    split_question = row['clean_question'].split()
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for i in split_answer:
        if i in split_question:
            match_count += 1
    return match_count / len(split_answer)

jeopardy['answer_in_question'] = jeopardy.apply(count_matches, axis=1)

In [18]:
jeopardy['answer_in_question'].mean()

0.05900196524977763

The mean shows that recycled questions occur slightly less than 6% of the time, so there is not likely much benefit to spending time studying old questions.

In [20]:
question_overlap = []
terms_used = set()

jeopardy = jeopardy.sort_values('Air Date')

for i, row in jeopardy.iterrows():
    split_question = row['clean_question'].split()
    split_question = [q for q in split_question if len(q) > 5]
    match_count = 0
    for word in split_question:
        if word in terms_used:
            match_count += 1
    for word in split_question:
        terms_used.add(word)
    if len(split_question) > 0:
        match_count /= len(split_question)
    question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.6877234805400583

We see that terms do often reoccur, approximately 70% of the time. This is worth considering, however there are a lot of terms. Let's narrow this terms list down to ones that only reoccur between high value questions so we get more value out of each terms we study.

In [22]:
def clean_value(val):
    value = 0
    if val['clean_value'] > 800:
        value = 1
    return value

jeopardy["high_value"] = jeopardy.apply(clean_value, axis=1)

In [23]:
def count_usage(term):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        if term in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

In [24]:
from random import choice

terms_used_list = list(terms_used)
comparison_terms = [choice(terms_used_list) for _ in range(10)]

observed_expected = []

for term in comparison_terms:
    observed_expected.append(count_usage(term))

observed_expected

[(0, 1),
 (4, 10),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 5),
 (9, 23),
 (0, 2),
 (1, 0)]

In [25]:
from scipy.stats import chisquare
import numpy as np

high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=6.846341565692304e-05, pvalue=0.993398169235444),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.42281054506129573, pvalue=0.515537958129453),
 Power_divergenceResult(statistic=0.0046720966866029695, pvalue=0.9455048440167843),
 Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047)]

# Chi_Squared Results

There was no significant difference in the usage between high value and low value rows. We are unable to show that high or low value terms are more likely to reoccur in jeopardy questions.